### To take the clean data (train) and separate it by cities.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
Mental_Health = pd.read_csv('Datasheet/MH.wCity.Clean.2.csv')

In [5]:
Mental_Health['Financial Stress']=Mental_Health['Financial Stress'].fillna(Mental_Health['Financial Stress'].mean())

In [7]:
Mental_Health.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140700 entries, 0 to 140699
Data columns (total 14 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   id                                     140700 non-null  int64
 1   Gender                                 140700 non-null  int64
 2   Age                                    140700 non-null  float64
 3   City                                   140700 non-null  object
 4   Sleep Duration                         140700 non-null  float64
 5   Dietary Habits                         140700 non-null  float64
 6   Have you ever had suicidal thoughts ?  140700 non-null  int64
 7   Work/Study Hours                       140700 non-null  float64
 8   Financial Stress                       140700 non-null  float64
 9   Family History of Mental Illness       140700 non-null  int64
 10  Work                                   140700 non-null  int64
 11  Satisfaction                           140700 non-null  float64
 12  Pressure                               140700 non-null  float64
 13  Depression                             140700 non-null  int64
dtypes: float64(7), int64(6), object(1)
memory usage: 15.0+ MB

### I will also make a data frame by city
- to show the percentage of students by city.
- to show the percentage of the population with depression.
- to show the percentage of students with depression.

In [9]:
City_MH_ = pd.DataFrame(columns=['city', 'Stu_pop', 'student %',
                                 'depressive %', 'dep students %','dep workers %'])

In [32]:
def city_life(live,n):
    dep = Mental_Health[Mental_Health['City'] == live].Depression.sum()
    dep_stu = Mental_Health[(Mental_Health.City == live)&(Mental_Health.Work == 0)].Depression.sum()
    num_stu = Mental_Health[(Mental_Health.City == live)&(Mental_Health.Work == 0)].Depression.count()
    dep_wor = Mental_Health[(Mental_Health.City == live)&(Mental_Health.Work == 1)].Depression.sum()
    num_wor = Mental_Health[(Mental_Health.City == live)&(Mental_Health.Work == 1)].Depression.count()
    city_pop = Mental_Health[Mental_Health['City'] == live].Depression.count()
    p_stu = round(((num_stu/city_pop)*100),2) # percentage of students in the study (I suppose that is the same in the city  
    p_dep = round(((dep/city_pop)*100),2) # percentage of the people with depression 
    p_d_stu = round(((dep_stu/num_stu)*100),2) # percentage of depressive students
    p_d_wor = round(((dep_wor/num_wor)*100),2) # percentage of depressive workers

    City_MH_.loc[n] = [live, city_pop, p_stu, p_dep, p_d_stu, p_d_wor] 


    
    return City_MH_

In [13]:
counts = Mental_Health['City'].value_counts()
counts

City
Kalyan         6591
Patna          5924
Vasai-Virar    5765
Kolkata        5689
Ahmedabad      5613
               ...
Shrey             1
Ivaan             1
Vaanya            1
Gaurav            1
Unirar            1
Name: count, Length: 98, dtype: int64

In [15]:
aux_1 = Mental_Health[Mental_Health['City'].map(counts)>1000]

In [17]:
city_val = aux_1['City'].unique()
city_val # wichcityes have more than 1000 answers

array(['Ludhiana', 'Varanasi', 'Visakhapatnam', 'Mumbai', 'Kanpur',
       'Ahmedabad', 'Thane', 'Nashik', 'Bangalore', 'Patna', 'Rajkot',
       'Jaipur', 'Pune', 'Lucknow', 'Meerut', 'Agra', 'Surat',
       'Faridabad', 'Hyderabad', 'Srinagar', 'Ghaziabad', 'Kolkata',
       'Chennai', 'Kalyan', 'Nagpur', 'Vadodara', 'Vasai-Virar', 'Delhi',
       'Bhopal', 'Indore'], dtype=object)

In [19]:
city_all = Mental_Health['City'].unique()
city_all

array(['Ludhiana', 'Varanasi', 'Visakhapatnam', 'Mumbai', 'Kanpur',
       'Ahmedabad', 'Thane', 'Nashik', 'Bangalore', 'Patna', 'Rajkot',
       'Jaipur', 'Pune', 'Lucknow', 'Meerut', 'Agra', 'Surat',
       'Faridabad', 'Hyderabad', 'Srinagar', 'Ghaziabad', 'Kolkata',
       'Chennai', 'Kalyan', 'Nagpur', 'Vadodara', 'Vasai-Virar', 'Delhi',
       'Bhopal', 'Indore', 'Ishanabad', 'Vidhi', 'Ayush', 'Gurgaon',
       'Krishna', 'Aishwarya', 'Keshav', 'Harsha', 'Nalini', 'Aditya',
       'Malyansh', 'Raghavendra', 'Saanvi', 'M.Tech', 'Bhavna',
       'Less Delhi', 'Nandini', 'M.Com', 'Plata', 'Atharv', 'Pratyush',
       'City', '3.0', 'Less than 5 Kalyan', 'MCA', 'Mira', 'Moreadhyay',
       'Morena', 'Ishkarsh', 'Kashk', 'Mihir', 'Vidya', 'Tolkata', 'Anvi',
       'Krinda', 'Ayansh', 'Shrey', 'Ivaan', 'Vaanya', 'Gaurav', 'Harsh',
       'Reyansh', 'Kashish', 'Kibara', 'Vaishnavi', 'Chhavi', 'Parth',
       'Mahi', 'Tushar', 'MSc', 'No', 'Rashi', 'ME', 'Molkata',
       'Researcher', 'Kagan', 'Armaan', 'Ithal', 'Nalyan', 'Dhruv',
       'Galesabad', 'Itheg', 'Aaradhya', 'Pooja', 'Khushi', 'Khaziabad',
       'Jhanvi', 'Unirar'], dtype=object)

In [21]:
# 30 cities have more than 1000 answers, and the others have less than ten. 
change_miss = np.setdiff1d(city_all, city_val) #elements in city_all that are not in city_val
change_miss

array(['3.0', 'Aaradhya', 'Aditya', 'Aishwarya', 'Anvi', 'Armaan',
       'Atharv', 'Ayansh', 'Ayush', 'Bhavna', 'Chhavi', 'City', 'Dhruv',
       'Galesabad', 'Gaurav', 'Gurgaon', 'Harsh', 'Harsha', 'Ishanabad',
       'Ishkarsh', 'Ithal', 'Itheg', 'Ivaan', 'Jhanvi', 'Kagan',
       'Kashish', 'Kashk', 'Keshav', 'Khaziabad', 'Khushi', 'Kibara',
       'Krinda', 'Krishna', 'Less Delhi', 'Less than 5 Kalyan', 'M.Com',
       'M.Tech', 'MCA', 'ME', 'MSc', 'Mahi', 'Malyansh', 'Mihir', 'Mira',
       'Molkata', 'Moreadhyay', 'Morena', 'Nalini', 'Nalyan', 'Nandini',
       'No', 'Parth', 'Plata', 'Pooja', 'Pratyush', 'Raghavendra',
       'Rashi', 'Researcher', 'Reyansh', 'Saanvi', 'Shrey', 'Tolkata',
       'Tushar', 'Unirar', 'Vaanya', 'Vaishnavi', 'Vidhi', 'Vidya'],
      dtype=object)

In [23]:
#I will change all those 'City names' to Lost_city
Mental_Health['City'] = Mental_Health['City'].replace(to_replace=change_miss, value='Lost_city')

In [25]:
Mental_Health['City'].value_counts() # People in Lost_city

City
Kalyan           6591
Patna            5924
Vasai-Virar      5765
Kolkata          5689
Ahmedabad        5613
Meerut           5528
Ludhiana         5226
Pune             5210
Rajkot           5207
Visakhapatnam    5176
Srinagar         5074
Mumbai           4966
Indore           4872
Agra             4684
Surat            4636
Varanasi         4606
Vadodara         4568
Hyderabad        4496
Kanpur           4398
Jaipur           4328
Thane            4289
Lucknow          4280
Nagpur           4209
Bangalore        4123
Chennai          4044
Ghaziabad        3620
Delhi            3593
Bhopal           3475
Faridabad        3268
Nashik           3144
Lost_city          98
Name: count, dtype: int64

Lost_City only 98

In [27]:
lista_ciudades = Mental_Health['City'].unique().tolist()
lista_ciudades

['Ludhiana',
 'Varanasi',
 'Visakhapatnam',
 'Mumbai',
 'Kanpur',
 'Ahmedabad',
 'Thane',
 'Nashik',
 'Bangalore',
 'Patna',
 'Rajkot',
 'Jaipur',
 'Pune',
 'Lucknow',
 'Meerut',
 'Agra',
 'Surat',
 'Faridabad',
 'Hyderabad',
 'Srinagar',
 'Ghaziabad',
 'Kolkata',
 'Chennai',
 'Kalyan',
 'Nagpur',
 'Vadodara',
 'Vasai-Virar',
 'Delhi',
 'Bhopal',
 'Indore',
 'Lost_city']

In [34]:
n=0
for i in lista_ciudades:
    city_life(i,n)
    n = n+1

City_MH_

,city,Stu_pop,student %,depressive %,dep students %,dep workers %
0,Ludhiana,5226,21.26,19.27,58.24,8.75
1,Varanasi,4606,14.87,14.22,53.14,7.42
2,Visakhapatnam,5176,18.72,15.92,56.97,6.47
3,Mumbai,4966,14.08,13.13,55.22,6.23
4,Kanpur,4398,13.85,12.57,54.19,5.89
5,Ahmedabad,5613,16.94,21.79,67.30,12.51
6,Thane,4289,26.56,24.22,59.09,11.62
7,Nashik,3144,17.40,15.87,52.83,8.09
8,Bangalore,4123,18.60,17.56,60.89,7.66
9,Patna,5924,17.00,16.32,63.16,6.73
10,Rajkot,5207,15.67,17.32,62.62,8.90
11,Jaipur,4328,23.94,18.14,52.41,7.35
12,Pune,5210,18.58,16.10,55.89,7.02
13,Lucknow,4280,26.99,21.40,55.50,8.80
14,Meerut,5528,14.92,13.40,59.76,5.27
15,Agra,4684,23.36,19.24,53.47,8.80
16,Surat,4636,23.25,20.19,57.98,8.74
17,Faridabad,3268,14.11,14.69,58.79,7.45
18,Hyderabad,4496,29.80,27.51,66.94,10.77
19,Srinagar,5074,27.04,21.17,55.61,8.40
20,Ghaziabad,3620,20.58,19.50,57.45,9.67
21,Kolkata,5689,18.74,17.37,60.88,7.33
22,Chennai,4044,21.88,19.44,59.66,8.17
23,Kalyan,6591,23.82,19.97,59.49,7.61
24,Nagpur,4209,15.47,14.49,55.76,6.94
25,Vadodara,4568,15.19,16.77,56.20,9.71
26,Vasai-Virar,5765,22.38,19.79,57.29,8.98
27,Delhi,3593,21.37,19.18,60.94,7.82
28,Bhopal,3475,26.88,23.25,61.99,9.01
29,Indore,4872,13.20,16.09,60.50,9.34
30,Lost_city,98,26.53,19.39,57.69,5.56

In [38]:
for city in Mental_Health['City'].unique():
    city_df = Mental_Health[Mental_Health['City'] == city]
    city_df.to_csv(f'Datasheet/MH.{city}.Clean.2.csv', index=False)